version: '3.7'

services:
  ${ca.name}:
    image: hyperledger/fabric-ca:1.5.2
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_CA_NAME=${ca.name}
      - FABRIC_CA_SERVER_TLS_ENABLED=true
      - FABRIC_CA_SERVER_PORT=${ca.port}
      - FABRIC_CA_SERVER_OPERATIONS_LISTENADDRESS=0.0.0.0:${ca.opPort}
    ports:
      - "${ca.port}:7054"
      - "${ca.opPort}:17054"
    command: sh -c 'fabric-ca-server start -b ${ca.adminName}:${ca.adminPassword} -d'
    volumes:
      - ../organizations/fabric-ca/${orgName}:/etc/hyperledger/fabric-ca-server
    container_name: ${ca.name}