<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated process_modeling -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="process_modeling.presentation.Process_modelingModelWizardID"
            name="%_UI_Process_modelingModelWizard_label"
            class="process_modeling.presentation.Process_modelingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Process_modelingModelFile.gif">
         <description>%_UI_Process_modelingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated process_modeling -->
      <editor
            id="process_modeling.presentation.Process_modelingEditorID"
            name="%_UI_Process_modelingEditor_label"
            icon="icons/full/obj16/Process_modelingModelFile.gif"
            extensions="process_modeling"
            class="process_modeling.presentation.Process_modelingEditor"
            contributorClass="process_modeling.presentation.Process_modelingActionBarContributor">
      </editor>
   </extension>

</plugin>
