<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process_modeling -->
      <package
            uri="http://www.trust40.com/process-modeling"
            class="process_modeling.Process_modelingPackage"
            genModel="model/process_modeling.genmodel"/>
   </extension>
</plugin>
