/* You can add global styles to this file, and also import other style files */

thead {
    font-weight: bold;
    background-color: #CCCCCC;
}

table {
    border: 1px solid black;
}

td {
    padding: 3px;
}
